# Virtual environment
venv/

# FAISS index & document cache
embeddings/

# Python cache
__pycache__/
*.py[cod]

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# macOS hidden file
.DS_Store

# Log files
*.log
